<script src="https://giscus.app/client.js"
        data-repo="AtriusX/Garden"
        data-repo-id="R_kgDOLb2d8A"
        data-category="General"
        data-category-id="DIC_kwDOLb2d8M4CdxMg"
        data-mapping="pathname"
        data-strict="1"
        data-reactions-enabled="1"
        data-emit-metadata="1"
        data-input-position="top"
        data-theme="dark"
        data-lang="en"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script>
<noscript>Please enable JavaScript to view <a href="https://giscus.app/?ref_noscript">Giscus comments</a>.</noscript>