* {
    font-family: Noto Sans, ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"
}

code * {
    font-family: "Jetbrains Mono", monospace;
}

.content {
    max-width: 50%;
}

.callout {
    border-bottom-width: 4px;
    backdrop-filter: blur(3px) ;
}

.search-button {
    border: none;
    border-radius: 5px;
    background-color: var(--scrollbar-bg);
}

a.tag {
    margin: auto 0.5em auto auto;
    border-radius: 5px;
}

.search-box input {
    border-color: var(--color-accent-1);
}

.search-box input:active {
    border-color: var(--color-accent-1);
}

.search-box input:hover {
    border-color: var(--color-accent-1);
}

.search-box input:focus {
    border-color: var(--color-accent-1);
    border-width: 2px;
    box-shadow: none;
}

body {
    background-image: url("/img/textures/topographydark.svg");
}

.authors {
    margin: 1em 0;
}

.header {
    font-size: 1rem;
    margin: 1em .1em 1em 0;
    padding: .2em .3em;
    border-radius: px;
    font-style: italic;
    color: var(--color-base-40);
}

.author {
    font-weight: 600;
    border: 1px solid var(--color-accent-1) !important;
    border-radius: 100px !important;
    padding: .3em 1em !important;
}

#link-graph {
    margin-bottom: 0;
    border: 2px solid var(--background-secondary-alt);
}

.graph-title {
    border: 2px solid var(--background-secondary-alt);
    border-bottom: 0;
}

.toc {
    background-color: var(--background-secondary);
}

nav.toc {
    padding: 0;
}

.toc ol {
    border-color: var(--color-base-25);
    padding-left: 8px;
    margin: 0;
}

div.toc {
    margin-top: 10px;
    border: 1px solid var(--background-secondary-alt);
}

.backlinks {
    background-color: var(--background-secondary);
    border: 1px solid var(--background-secondary-alt);
}

.footnote-item {
    padding: 0 !important;
}