.content {
    max-width: 50%;
}

.search-button {
    border: none;
    border-radius: 5px;
    background-color: var(--scrollbar-bg);
}

a.tag {
    margin: auto 0.5em auto auto;
    border-radius: 5px;
}

.search-box input {
    border-color: var(--titlebar-text-color-focused);
}

.search-box input:active {
    border-color: var(--titlebar-text-color-focused);
}

.search-box input:hover {
    border-color: var(--titlebar-text-color-focused);
}

.search-box input:focus {
    border-color: var(--titlebar-text-color-focused);
}