.content {
    max-width: 50%;
}

.search-button {
    border: none;
    border-radius: 5px;
    background-color: var(--scrollbar-bg);
}

a.tag {
    margin: auto 0.5em auto auto;
    border-radius: 5px;
}

.search-box input {
    border-color: var(--color-accent-1);
}

.search-box input:active {
    border-color: var(--color-accent-1);
}

.search-box input:hover {
    border-color: var(--color-accent-1);
}

.search-box input:focus {
    border-color: var(--color-accent-1);
    border-width: 2px;
    box-shadow: none;
}

.authors {
    margin: 1em 0;
}

.header {
    font-size: 1rem;
    margin: 1em .1em 1em 0;
    padding: .2em .3em;
    border-radius: px;
    font-style: italic;
    color: var(--color-base-40);
}

.author {
    font-weight: 600;
    border: 1px solid var(--color-accent-1) !important;
    border-radius: 100px !important;
    padding: .3em 1em !important;
}

.filetree-sidebar {
    width: 17%;
    margin: 1em;
    padding: 0;
    height: calc(100% - 2em);
    border-radius: var(--radius-l);
    overflow: hidden;
    display: flex;
    flex-direction: column;

    .active-note {
        border-radius: var(--radius-l);
        margin-right: 1.5em;
    }

    .search-button {
        margin: .5em 1em 1em 1em;
        width: 100%;
        display: flex;

        .search-text {
            width: 75%;
            display: flex;
            justify-content: space-between;
        }
    }    

    .folder {
        scrollbar-width: none;
        display: block;
        overflow: auto;
        scroll-behavior: smooth;
        flex: 1;
    }
}

#link-graph {
    margin-bottom: 0;
    border: 1px solid var(--background-secondary-alt);
}

.graph-title {
    border: 1px solid var(--background-secondary-alt);
    border-bottom: 0;
}

.navbar {
    margin: 1em;
    border-radius: var(--radius-l);
    width: calc(100% - 2em);
}

.toc {
    background-color: var(--background-secondary);
}

div.toc {
    margin-top: 10px;
    border: 1px solid var(--background-secondary-alt);
}

.backlinks {
    background-color: var(--background-secondary);
    border: 1px solid var(--background-secondary-alt);
}

.footnote-item {
    padding: 0  !important;
}