.filetree-sidebar {
    width: 17%;
    margin: 1em;
    padding: 0;
    height: calc(100% - 2em);
    border-radius: var(--radius-l);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    border: 2px solid var(--background-secondary-alt);

    .active-note {
        border-radius: var(--radius-l);
        margin-right: 1.5em;
    }

    .search-button {
        margin: .5em 1em 1em 1em;
        width: 100%;
        display: flex;

        .search-text {
            width: 75%;
            display: flex;
            justify-content: space-between;
        }
    }

    .folder {
        scrollbar-width: none;
        display: block;
        overflow: auto;
        scroll-behavior: smooth;
        flex: 1;
    }
}

.navbar {
    margin: 1em;
    border-radius: var(--radius-l);
    width: calc(100% - 2em);
    box-shadow: 0 6px 0 var(--background-secondary-alt);
    border: 2px solid var(--background-secondary-alt);
}

.filetree-sidebar .logo {
    margin-top: 1.5em;
    width: 100%;
    text-align: center;

    svg {
        color: var(--color-accent);
    }

    .feather {
        width: 40%;
    }
}

.sidebar-container, .filetree-sidebar {
    filter: drop-shadow(0 6px 0 var(--background-secondary-alt));
}

.search-button {
    background-color: var(--color-base-20);
    box-shadow: 0 6px 0 var(--background-secondary-alt);
    border: 2px solid var(--background-secondary-alt);
    transition: all .25s;
}

.search-button:hover {
    padding-top: 4px;
    box-shadow: 0 2px 0 var(--background-secondary-alt);
}

.graph, .toc, .backlinks {
    border-width: 2px !important;
}

#floating-control {
    position: fixed;
    color: var(--link-color);
    top: 1em;
    right: 1em;
    font-size: 24px;
    z-index: 999999;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 10px;

    .svg-icon,
    i {
        cursor: pointer;
        height: 24px;
        width: auto;
    }

    #theme-switch {
        .light {
            display: none;
        }

        .dark {
            display: none;
        }

        .auto {
            display: none;
        }
    }

    #theme-switch.light {
        .light {
            display: inline;
        }
    }

    #theme-switch.dark {
        .dark {
            display: inline;
        }
    }

    #theme-switch.auto {
        .auto {
            display: inline;
        }
    }
}

@media only screen and (max-width: 1399px) {
    .navbar .logo {
        height: 3rem;
    }

    .logo {
        width: 12%;
        margin: auto 0.5em;
    }

    .navbar-inner h1 {
        white-space: nowrap;
    }

    .navbar .feather {
        width: 100%;
        height: 100%;
    }

    svg {
        color: var(--color-accent);
    }

    .filetree-sidebar {
        width: 30%;
        filter: none;
    }

    .fullpage-overlay {
        position: fixed;
    }

    .search-button:hover {
        margin-bottom: 4px;
        box-shadow: 0 2px 0 var(--background-secondary-alt);
    }

    #floating-control {
        top: unset;
        right: 0.75em;
        bottom: 0.5em;
    }
}

@media only screen and (max-width: 800px) {
    .navbar .logo {
        width: 10%;
        margin-right: 0;
    }

    .filetree-sidebar {
        width: 50%;
    }
}

@media only screen and (max-width: 360px) {
    .navbar .logo {
        display: none;
    }
}