{%- if authors and not "catalog" in tags -%}
    <div class="authors">
        <span class="header">
            Authored by
        </span>
        {%- for author in authors %}
            {% for note in collections.note %}
                {% if note.fileSlug.toLowerCase() === author.toLowerCase() %}
                    <a class ="author tag" href="{{ note.url }}">{{ author }}</a>
                {% endif %}
            {% endfor %}
        {%- endfor -%}
    </div>
{%- endif -%}
